<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>970923002017-r0bigecq89vk3b29hrs3bp7mlppbjiji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970923002017-r0bigecq89vk3b29hrs3bp7mlppbjiji</string>
	<key>API_KEY</key>
	<string>AIzaSyAkOCDlI3yvewDuBojciQ5EI2RB3lD6ncE</string>
	<key>GCM_SENDER_ID</key>
	<string>970923002017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Code.PokeFinder</string>
	<key>PROJECT_ID</key>
	<string>pokesearch-200bd</string>
	<key>STORAGE_BUCKET</key>
	<string>pokesearch-200bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:970923002017:ios:1e3ec417977a5db4</string>
	<key>DATABASE_URL</key>
	<string>https://pokesearch-200bd.firebaseio.com</string>
</dict>
</plist>